.menu {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.menuLink {
    display: inline-block;
    text-decoration: none;
    gap: 0.4rem;
    font-weight: bold;
    color: var(--text-over-primary);
    transition: all 0.2s ease-in-out;
    background-color: var(--primary);
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.menuLink:hover {
    filter: brightness(50%);
} 

.menuLink svg {
    width: 2.4rem;
    height: 2.4rem;
}